{% extends 'base.html.twig' %}

{% block title %}Edit Anamnese{% endblock %}

{% block body %}
    <h1>Edit Anamnese</h1>

    {{ include('anamnese/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_anamnese_index') }}">back to list</a>

    {{ include('anamnese/_delete_form.html.twig') }}
{% endblock %}
