{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Create new Patient</h1>
{% set form_title = 'Ajouter un patient' %}
    {# ---------------- #}
 
{# -------------- #}
    <a href="{{ path('app_patient_index') }}">back to list</a>
    <div class="page-wrapper">
            <div class="content">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        {{ include('patient/_form.html.twig')}}
                    </div>
                </div>
            </div>
	    <script>
        // Toggling the active class from the patient icon to a doctor
        $("#Doctors").removeClass("active");
        $("#Patients").addClass("active");
    </script>		
{% endblock %}
