{% extends 'base.html.twig' %}

{% block title %}Edit Lit{% endblock %}

{% block body %}
    <h1>Edit Lit</h1>

    {{ include('lit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lit_index') }}">back to list</a>

    {{ include('lit/_delete_form.html.twig') }}
{% endblock %}
