{{ form_start(medecinForm ,{ 'attr' : { 'class': 'w-50 medecinForm' } , 'enctype' : 'multipart/form-data' }) }}
    {{ form_widget(medecinForm) }}
    <button class="btn btn-success w-100 text-center my-3" id="SaveDoctorButt">{{ button_label|default('Save') }}</button>
{{ form_end(medecinForm) }}