{% extends 'base.html.twig' %}

{% block title %}Create Medecin{% endblock %}
{% block body %}
   <main id="medecinNewMain"> 
    <h1>Create new Medecin</h1>
    <div><div class="stepBullets mx-2 d-inline-block greenBullet" id="bullet1"></div><div class="stepBullets mx-2 d-inline-block" id="bullet2"></div></div>
    {{ include('medecin/_form.html.twig') }}
    <button class="btn btn-success mt-3 w-25 formsButts" id="nextButt">Next</button>
    <button class="btn btn-secondary mt-3 w-25 formsButts" id="prevButt">Previous</button>
    <a class="btn btn-primary w-25 formsButts"  href="{{ path('app_medecin_index') }}">back to list</a>
    </main>
    <script>
        // Toggling the active class from the patient icon to a doctor
        $("#Patients").removeClass("active");
        $("#Doctors").addClass("active");
    </script>
{% endblock %}
