#mainCustom {
    padding: 5rem ;
    padding-left: 7rem ;
}

#medecinNewMain , #mainEditMedecin {
    padding: 7rem;
    padding-top : 5rem ;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 30rem; */
}
.ExperienceTextera {
    height: 150px !important;
}
.formsButts {
    position: relative;
    right: -13%;
    bottom: 5%;
    margin-top: 1rem;
}
.medecinForm , #prevButt {
    display: none ;
}
.stepBullets{
    margin-top: 1rem;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: grey ;
}
.greenBullet {
    background-color: #88d43c;
}

@media (min-width: 880px) and (max-width: 1108px) {
    .medecinForm {
        width: 75% !important;
    }
  }

@media only screen and (max-width: 880px){
    .medecinForm {
        width: 100% !important  ;
    }
    #medecinNewMain , #mainEditMedecin {
        padding-left: 0;
        padding-right: 0;
    }
}  